{% extends 'layout.html' %}

{% block main %}

<form action="/plt" method="post" class="fdy">
    <div class="text-d">
        <h3>plot coordinates</h3>
        <p>Please insert set of E, N coordinate to be ploatted</p>
    </div>
<div class="dy" >
    <div class="wrap">
        <h2>Add coordinates</h2>
        <a class="add" href="#">&plus;</a>
    </div>
    <div class="in-g">

    </div>
    <button type="submit">Submit</button>
</div>

</form>
<script  src="/static/dynamic.js"> </script>



{% endblock %}
