{% extends 'layout.html' %}

{% block main %}

<div class="text-d">
    <h3>Image rights </h3>
    <p>Homepage background: Photo by <a href="https://unsplash.com/@drwmrk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Andrew Stutesman</a> on <a href="https://unsplash.com/photos/blue-green-and-yellow-world-map-l68Z6eF2peA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        <br>Coordinate image (homepage) : Photo by <a href="https://unsplash.com/@robertography?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Robert Penaloza</a> on <a href="https://unsplash.com/photos/selective-focus-photography-of-person-holding-space-gray-iphone-6-P6Kx-RVpDe0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        <br>Map image (homepage) : Photo by <a href="https://unsplash.com/@thomaskinto?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Thomas Kinto</a> on <a href="https://unsplash.com/photos/road-map-6MsMKWzJWKc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        <br>Total station image (homepage): Photo by <a href="https://unsplash.com/@sunburned_surveyor?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Scott Blake</a> on <a href="https://unsplash.com/photos/macro-shot-of-gray-and-yellow-surveyor-1GW45VDkFI0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

    </p>
    </div>

{% endblock %}
